.Layout {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Header {
  width: 100%;
  color: white;
  padding: 15px 10px;
  background-color: #324f5d;
}

.NavBar {
  color: white;
}

.Body {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
